.stat .card-title{
    background-color:'#fe7584';
    background-image: linear-gradient(to right, #fe7584 , #f2c6ba);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    color:#fff;
}
.stat .card-text{ 
    text-align: center;
    height: 60px;
}