.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  padding-top:0.5em;

}
.navbar-light .navbar-nav .nav-link a {
  color: #fff !important;
}
.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: space-between !important;
}
.navbar-brand {  
  padding-top: .3125rem  !important;
  margin-right: 1rem;
  font-size: 1.45rem  !important;
}
 